*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  margin: 3rem 3rem;
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 230px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 370px;
  height: 230px;
  background-color: red;
  position: absolute;
  left: max(calc(370px * 5), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wrapper:hover .item {
  animation-play-state: paused !important;
}

.item img {
  width: 370px;
  height: 230px;
  display: block;
  transition: transform 0.5s, filter 0.5s;
}

.item:hover img {
  transform: scale(1.1);
  filter: blur(5px); /* Menambahkan efek blur */
}

.item1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.layer {
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: height 0.5s;
}

.layer h1 {
  font-weight: 200;
  margin-top: 20px;
}

.layer p {
  font-size: 20px;
}

.item:hover .layer {
  height: 100%;
}
